.landing-page {
  font-family: "Inter", sans-serif;
  color: #172A39;
}


.hero {
  background-color: #E6F1FB;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  color: #888780;
  margin-bottom: 30px;
}

.hero-buttons .btn-primary {
  background-color: #185FA5;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.hero-buttons .btn-primary:hover {
  background-color: #0C447C;
}

.hero-buttons .btn-secondary {
  background-color: transparent;
  color: #185FA5;
  border: 2px solid #185FA5;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.hero-buttons .btn-secondary:hover {
  background-color: #E6F1FB;
}


.featured-projects {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
}


.cta {
  background-color: #185FA5;
  color: #ffffff;
  text-align: center;
  padding: 80px 20px;
}