.login-container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ebf3fb, #cce3f9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 0 40px 40px 40px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 24px rgba(24,95,165,0.08);
  margin-top: 30px;
}

.login-logo {
  text-align: center;
  margin-bottom: 28px;
}

.login-logo img {
  height: 130px;
}


.login-error {
  background-color: #FCEBEB;
  color: #A32D2D;
  padding: 10px 14px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 14px;
}

.login-input {
  width: 100%;
  padding: 10px 14px;
  border: 1.5px solid #B5D4F4;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #185FA5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.login-button:disabled {
  background-color: #85B7EB;
  cursor: not-allowed;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #888780;
}
