.register-container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ebf3fb, #cce3f9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.register-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 0 40px 40px 40px;
  width: 100%;
  max-width: 440px;
  box-shadow: 0 4px 24px rgba(24,95,165,0.08);
  margin-top: 70px;
}

.register-header {
  text-align: center;
  margin-bottom: 28px;
}

.register-header img {
  height: 130px;
}

.register-header p {
  color: #888780;
  font-size: 14px;
  margin-top: 8px;
}

.error-box {
  background-color: #FCEBEB;
  color: #A32D2D;
  padding: 10px 14px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 14px;
}

.field-error {
  color: #A32D2D;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #172A39;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 10px 14px;
  border: 1.5px solid #B5D4F4;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.role-group {
  margin-bottom: 24px;
}

.role-options {
  display: flex;
  gap: 12px;
}

.role-card {
  flex: 1;
  padding: 12px;
  border: 2px solid #B5D4F4;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  transition: all 0.2s;
}

.role-card.active {
  border-color: #185FA5;
  background-color: #E6F1FB;
}

.role-title {
  font-weight: 600;
  color: #172A39;
  font-size: 14px;
}

.role-desc {
  color: #888780;
  font-size: 12px;
  margin-top: 2px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #185FA5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn.loading {
  background-color: #85B7EB;
  cursor: not-allowed;
}

.register-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #888780;
}

.register-footer a {
  color: #185FA5;
  font-weight: 600;
  text-decoration: none;
}

.register-footer a:hover {
  text-decoration: underline;
}


@media (max-width: 576px) {
  .register-card {
    padding: 0 20px 30px 20px;
    margin: 40px 15px 15px 15px;
    box-shadow: none;
    border: 1px solid #e2e8f0;
  }
  .register-header img {
    height: 100px;
  }
  .role-options {
    flex-direction: column;
    gap: 10px;
  }
}